body {
 margin: 0;
 background-color: #C6C7C4;
}

header .navbar {
 background-color: #353B3C;
 opacity: 75%;
 font-weight: 300;
 font-family: 'Bebas Neue', cursive;
 font-size: 200%;
 height: auto;
 z-index: 9999;
}

header::after {
 content: '';
 display: table;
 clear: both;
}

.navbar-brand {
 float: left;
 font-size: 50px;
 padding-top: 25px;
 padding-left: 50px;
 color: black;
}

.navbar-brand:hover {
 color: #846A6A;
}

.nav-link {
 color: #EEF0F2;
}

.nav-link:hover {
 /* hovered link color */
 color: #beb3b9;
}

/* https://mdbootstrap.com/docs/b4/jquery/navigation/hamburger-menu/ */

.navbar.navbar .navbar-toggler-icon {
 background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger3.svg?color=00FBD8');
}

.navbar {
 border-radius: 0;
 margin-bottom: 0;
}

/* Fixes dropdown menus placed on the right side */

/* .ml-auto .dropdown-menu {
 left: auto !important;
 right: 0px;
} */

nav ul {
 /* tighten the nav bar more */
 margin: 0;
 /* space between items, not quite necessary here */
 padding: 0;
 /* remove dots from list */
 list-style: none;
}

nav li {
 /* could use float: left */
 display: inline-block;
 /* to give space (left) between the list items */
 margin-left: 70px;
 /* add padding at the top */
 padding-top: 25px;
 /* position - helps with lines above links*/
 position: relative;
}

nav ul li a {
 color: #EEF0F2;
 /* remove line on link */
 text-decoration: none;
 /* transform text to uppercase */
 text-transform: uppercase;
}

nav ul li a:hover {
 /* hovered link color */
 color: #A2999E;
}

/* inlink before text (for the bars on top) */

nav a::before {
 content: '';
 display: block;
 height: 5px;
 width: 100%;
 background-color: white;
 /*abosoluteposition-whichisrelativetothelistitem*/
 position: absolute;
 /*addatoptomakeitverytopofpage*/
 top: 0;
 width: 0%;
}

nav a:hover::before {
 width: 100%;
}

nav a::after {
 color: black;
}

i {
 padding: 15px;
}

.jumbotron {
 opacity: 75%;
 padding: 20px;
 background-color: #846A6A;
 color: #EEF0F2;
 font-family: 'Bebas Neue', cursive;
 font-family: 'Josefin Sans', sans-serif;
 font-size: 175%;
 border-radius: 5%;
 -webkit-border-radius: 5%;
 -moz-border-radius: 5%;
 -ms-border-radius: 5%;
 -o-border-radius: 5%;
}

.dropdown .dropdown-menu {
 background-color: white;
 color: black;
}

footer {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: white;
 color: #846A6A;
 height: 5%;
}